flows.json
[
    {
        "id": "5fd8ec0640d2929c",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "883a3aaf062a0063",
        "type": "catch",
        "z": "5fd8ec0640d2929c",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 230,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "29328b27807c04e2",
        "type": "status",
        "z": "5fd8ec0640d2929c",
        "name": "",
        "scope": null,
        "x": 150,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "71ee2f7b458f8ae0",
        "type": "link in",
        "z": "5fd8ec0640d2929c",
        "name": "link in 1",
        "links": [],
        "x": 185,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "917f62025e20ce0b",
        "type": "file",
        "z": "5fd8ec0640d2929c",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 300,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "fb687636c7ee1473",
        "type": "file",
        "z": "5fd8ec0640d2929c",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 300,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "974eb0a45ec66ea5",
        "type": "csv",
        "z": "5fd8ec0640d2929c",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 210,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "45b8fbcf8d12f8ac",
        "type": "csv",
        "z": "5fd8ec0640d2929c",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 170,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1d3bf48e2598dc01",
        "type": "json",
        "z": "5fd8ec0640d2929c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 240,
        "wires": [
            []
        ]
    }
]